.modaaliotsikko {
    background: $primary;
    color: #f2f8f9;
    font-size: 18px;
    line-height: 1.5;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #e5e5e5;
    margin: -15px -15px 15px;
    padding: 15px 45px 15px 15px;
    min-height: 16.5px;
}
.kartta-tulos {
    p {
        font-size: 17px;
    }
}
.karttaedit{
    table, td {
        border: 1px solid #aaa;
        border-collapse: collapse;
    }
}
.removemark {
    padding: 4px;
}
.kartta-list{
    margin-bottom: 0px !important;
    .kartta-item{
        list-style: none;
        margin-bottom: 0px !important;
        padding-bottom: 3px;
    }
}
.kartta-item{
    &.dragged{
        opacity: 0;
    }
}
#kartta-rule-post{
    .langbutton{
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        
        //font-size: 1.2rem;
        color: #000;
        background-color: #eee;
        border: 2px solid #333;
        border-radius: 3px;
        
        padding: 1px 8px 2px;
        box-shadow: 2px 2px 0px #000; 
        transition: all 0.1s linear;
        cursor: pointer;
        &:hover {
            background-color: #ddd;
        }
        &:active, &.active {
            box-shadow: inset 2px 2px 0px #000;
            transform: translate(2px, 2px);
            background-color: #ddd;
        }
    }
}
.kartta-btn-red{
    @extend .btn-primary;
    background-color: rgb(220 53 69);
    padding-top: 8px;
    padding-bottom: 8px;
    &:hover{
        background-color: rgb(200 43 59);
    }
}
